[settings]
format-padding = 0.5
format-margin = 1

[colors]
;dracula
;background = #282A36
;background-alt = #373b41
;foreground = #8be9fd
;primary = #bd93f9
;secondary = #8be9fd
;alert = #ff79c6
;disabled = #6272a4

;catppuccin mocha
;dark = #1e1e2e
;lightdark = #313244
;grey = #7f849c
;pink = #f5c2e7
;red = #f38ba8
;blue = #89b4fa
;lavender = #b4befe
;sky = #89dceb
;orange = #fab387

;gruvbox
;dark = #aa282828
;lightdark = #504945
;grey = #665c54
;pink = #d65d0e
;red = #d65d0e
;blue = #458588
;lavender = #d79921
;sky = #98971a
;orange = #d65d0e

;rose pine
dark = #57191724
lightdark = #26233a
grey = #6e6a86
pink = #ebbcba
red = #eb6f92
blue = #31748f
lavender = #c4a7e7
sky = #9ccfd8
orange = #f6c177

[bar/root]
wm-restack = bspwm
font-0 = "DMMono:style=Regular:size=12;3"
font-1 = "icon-pack:style=Regular:size=15"
height = 24pt
radius = 12
enable-ipc = true
separator = |
seperator-foreground = ${colors.sky}
fixed-center = true

[bar/left]
inherit = bar/root
width = 440px 
line-size = 3pt
border-size = 4pt
cursor-click = pointer
border-color = #00000000
background = ${colors.dark}
foreground = ${colors.lavender}

modules-left = xworkspaces

[bar/right]
inherit = bar/root
offset-x = 1548px
width = 370px 
line-size = 3pt
border-size = 4pt
cursor-click = pointer
border-color = #00000000
background = ${colors.dark}
foreground = ${colors.lavender}

modules-right = battery pulseaudio memory cpu 

[bar/center]
inherit = bar/root
offset-x = 900px
width = 140px
line-size = 3pt
border-size = 4pt
cursor-click = pointer
border-color = #00000000
background = ${colors.dark}
foreground = ${colors.red} 

modules-center = date

[module/xworkspaces]
type = internal/xworkspaces

label-active = %name%
label-active-background = ${colors.lightdark}
label-active-underline= ${colors.sky}
label-active-padding = 1

label-occupied = %name%
label-occupied-padding = 1

label-urgent = %name%
label-urgent-background = ${colors.orange}
label-urgent-padding = 1

label-empty = %name%
label-empty-foreground = ${colors.grey}
label-empty-padding = 1

[module/battery]
type = internal/battery

battery = BAT0
adapter = ACAD
full-at = 100
low-at = 10

format-charging = <label-charging>
format-discharging = <label-discharging>

label-charging =  chrg %percentage%
label-discharging = bat %percentage%
label-full = full
label-low = low %percentage%

[module/pulseaudio]
type = internal/pulseaudio

format-volume-prefix = "vol "
format-volume-prefix-foreground = ${colors.sky}
format-volume = <label-volume>

label-volume = %percentage%

label-muted = muted
label-muted-foreground = ${colors.grey}

[module/memory]
type = internal/memory
interval = 2
format-prefix = "ram "
format-prefix-foreground = ${colors.sky}
label = %percentage_used:2%

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = "cpu "
format-prefix-foreground = ${colors.sky}
label = %percentage:2%

[module/date]
type = internal/date
interval = 1

date = %I:%M
date-alt = %a, %b %d

label = %date%
label-foreground = ${colors.red}

[settings]
screenchange-reload = true
pseudo-transparency = true
